$spacers: (
  0: 0,
  // 0px
  1: 0.25rem,
  // 4px
  2: 0.5rem,
  // 8px
  3: 0.75rem,
  // 12px
  4: 1rem,
  // 16px
  5: 1.25rem,
  // 20px
  6: 1.5rem,
  // 24px
  7: 1.75rem,
  // 28px
  8: 2rem,
  // 32px
  9: 2.25rem,
  // 36px
  10: 2.5rem,
  // 40px
  11: 2.75rem,
  // 44px
  12: 3rem,
  // 48px
  13: 3.25rem,
  // 52px
  14: 3.5rem,
  // 56px
  15: 3.75rem,
  // 60px
  16: 4rem // 64px
);

$theme-colors: (
  "primary": #0092E4,
  "purple": #49028C,
  "light-500": #D8DBEB,
  "white-3":#F5F6FA,
  "white-4":#EBEDF5,
  "white-5":#D8DBEB,
  "white-6":#B4BAD6,
  "very-light-grey": #FAFAFC,
  "grey-300":#5A607D,
  "grey-500":#1C2033,
  "grey-5":#2E334C,
  "grey-1":#8F95B2,
  'grey-3':#596080,
  "grey-2":#737999,
  "tags-grey":#636C7E,
  "gray-400":#424866,
);

$custom-font-sizes: (
  12: 0.75rem,
  14: 0.875rem,
  24: 1.5rem,
  32: 2rem,
);

@each $size, $value in $custom-font-sizes {
  .fs-#{$size} {
    font-size: #{$value} !important;
  }
}

$custom-line-heights: (
  14: 0.875rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  24: 1.5rem,
  28: 1.75rem,
  32: 2rem
);

@each $lh, $val in $custom-line-heights {
  .lh-#{$lh} {
    line-height: #{$val} !important;
  }
}

$custom-widths: 24, 36,118, 260, 300, 200, 256, 320, 360, 420, 672;

@each $w in $custom-widths {
  .w-\[#{$w}\] {
    width: #{$w}px;
  }

  .mw-\[#{$w}\] {
    max-width: #{$w}px;
  }
}

//Responsive widths
@each $w in $custom-widths {
  .w-\[#{$w}\] {
    width: #{$w}px;
  }

  .mw-\[#{$w}\] {
    max-width: #{$w}px;
  }

  @media (min-width: 768px) {
    .w-md-\[#{$w}\] {
      width: #{$w}px;
    }

    .mw-md-\[#{$w}\] {
      max-width: #{$w}px;
    }
  }

  @media (min-width: 992px) {
    .w-lg-\[#{$w}\] {
      width: #{$w}px;
    }

    .mw-lg-\[#{$w}\] {
      max-width: #{$w}px;
    }
  }
}

$custom-heights: 24, 36, 120, 260, 300, 200, 256, 320, 360, 420, 672;

@each $h in $custom-heights {
  .h-\[#{$h}\] {
    height: #{$h}px;
  }

  .mh-\[#{$h}\] {
    max-height: #{$h}px;
  }
}

//Responsive heights
@each $h in $custom-heights {
  .h-\[#{$h}\] {
    height: #{$h}px;
  }

  .mh-\[#{$h}\] {
    max-height: #{$h}px;
  }

  @media (min-width: 768px) {
    .h-md-\[#{$h}\] {
      height: #{$h}px;
    }

    .mh-md-\[#{$h}\] {
      max-height: #{$h}px;
    }
  }

  @media (min-width: 992px) {
    .h-lg-\[#{$h}\] {
      height: #{$h}px;
    }

    .mh-lg-\[#{$h}\] {
      max-height: #{$h}px;
    }
  }
}

.dropdown-toggle::after {
  display: none !important;
}

body {
  font-family: 'Averta Std', sans-serif !important;
  font-weight: 400;
}

.shadow-medium {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

@import "bootstrap/scss/bootstrap";